
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'LemonMilk';
    src: url(/fonts/LemonMilk/LEMONMILK-Light.woff) format('woff');
}

body {
    background-color: black;
    font-family: 'LemonMilk';
}

.heading {
    font-size: 30px;
    color:white;
    max-width: fit-content;
    border-bottom: 1px solid #08526f;
    overflow: hidden;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.content-container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

.member-img {
    height: 410px;
    width: 300px;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin-bottom: 50px;
}

.grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.name {
    font-size: 1.4rem;
    font-weight: bolder;
}

.footer {
    font-family: 'Poppins';
}

.detail-box-text {
    padding: 20px 20px 20px 0px;
    position: relative;
    color: white;
    text-align: left;
}

.detail-box-text-left {
    text-align: right;
}

.detail-box-text a {
    text-decoration: none;
}
.detail-name{
    font-size: 2rem;
    color: white;
    font-weight: 700;
    text-align: left;
}
.member-social-links{
    display: flex;
    align-items: center;
}


.member-social-links a{
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    margin: 5px;
    border-radius: 50%;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
}
.member-social-links a:hover{
    color: #fff;
    background-color: #181818;
    transition: all ease 0.3s;
}
.detail-box-text .position{
    color: white;
    margin: 0px;
    padding: 10px 0px;
    width:97%;
}
.detail-box-text p{
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

.detail-box-text p:first-of-type { 
    border-top: 1px solid #414141;
    padding-top: 10px;
}
.view-work-btn{
    width:150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #202020;
    float: left;
}
.detail-box-text-left .view-work-btn {
    float: right;
}
.view-work-btn:hover{
    color: #fff;
    background-color: #0e0e0e;
    transition: all ease 0.3s;
}